.basketPanel {
  padding: 45px 15px;
  background: #fff;
  border-radius: 15px;
  display: flex;
  border: 2px solid rgba(36, 36, 36, 0.1);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 25px auto;
  cursor:pointer;
  user-select: none;
  width: 515px;
  box-shadow: 3px 0 20px rgba(36, 36, 36, 0.1);
  transition: box-shadow 0.3s linear, border 0.3s linear;
   font-family: 'Courier New', Courier, monospace;
  &:hover {
    box-shadow: 3px 0 20px #777474;
    border: 2px solid #777474;
  }

  .basketPanelTitle {
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
  }

  .basketPanelDesc {
    color: #868695;
    max-width: 315px;
  }

  .basketPanelButton {
    background: rgb(244, 249, 244);
    padding: 10px 20px;
    border: 1px solid #000;
    outline: none;
    cursor: pointer;
    color: #000;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 800;
    margin: 0 auto;
    transition: letter-spacing 0.4s;
    user-select: none;

    &:hover {
      letter-spacing: 0.10em;
    }
  }
}


.btnCount{
  
button{
background-color: black;
border: none;
color: white; 
margin: 5px; 
cursor: pointer;
}
span{
font-family: 'Courier New', Courier, monospace;  
font-size: 18px;
font-style: italic;
}

}